@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@font-face {
  font-family: raleway;
  src: url(./Raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: ralewayBold;
  src: url(./Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: ralewayMedium;
  src: url(./Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: openSans;
  src: url(./Open_Sans/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: openSans; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 0;
}

.package-container::-webkit-scrollbar {
  width: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

button {
  font-family: ralewayMedium !important;
  text-transform: uppercase !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.375);
  position: absolute;
  z-index: 9;
}

#navigation {
  transition: 0.3s ease-in-out;
}

#tranding {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.tranding-slider {
  position: absolute;
  z-index: 10;
  width: 49.5rem;
  bottom: 5%;
  overflow: hidden;
  right: 5%;
}

.tranding-slide {
  width: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

.tranding-slide .tranding-slide-img img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

@media (max-width: 1450px) {
  .tranding-slider {
    width: 45rem;
  }

  .tranding-slide {
    width: 18.2rem;
    border-radius: 1rem;
  }

  .tranding-slide .tranding-slide-img img {
    height: 22rem;
  }

  .wrapper_heading {
    font-size: 20px !important;
  }

  .wrapper_para {
    font-size: 18px !important;
  }

  .wrapper_btn {
    font-size: 12px !important;
  }
}

@media (max-width: 1300px) {
  .tranding-slider {
    width: 42rem;
  }

  .tranding-slide {
    width: 16.9rem;
    height: fit-content;
  }

  .tranding-slide .tranding-slide-img img {
    height: 21rem;
  }

  .wrapper_heading {
    font-size: 18px !important;
  }

  .wrapper_para {
    font-size: 16px !important;
  }

  .wrapper_btn {
    font-size: 12px !important;
  }
}

@media (max-width: 1200px) {
  .tranding-slider {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tranding-slide {
    width: 20rem;
  }

  .wrapper_ctn {
    width: 80% !important;
    display: flex;
    align-items: center;
    bottom: 10vh;
    position: absolute;
  }

  .wrapper_heading {
    font-size: 18px !important;
    line-height: 27px !important;
    text-align: center;
  }

  .wrapper_para {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .tranding-slider {
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tranding-slide {
    width: 18.5rem;
  }

  .wrapper {
    padding: 0 0 0 0 !important;
    display: flex;
    justify-content: center;
  }

  .wrapper_heading {
    font-size: 16px !important;
    line-height: 27px !important;
    text-align: center;
    /* display: none; */
  }

  .wrapper_para {
    display: none;
  }
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category-heading {
  color: transparent;
  -webkit-text-stroke: 1px #ceab2e;
}

/* Packages */
.ri-check-line{
  color: #22c55e;
}
.not-include{
  color: gray;
}
.card {
  min-width: 400px;
  scroll-snap-align: start;
  width: 400px;
  margin-right: 1rem;
  color: black;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(62, 62, 62);
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.package-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory */
}

.package-slider::-webkit-scrollbar {
  display: none;
}

/* ------------------------------------------- */
/* ----------- Photography Section ----------- */
/* ------------------------------------------- */

.home_marquee {
  animation: marquee 20s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(calc(-100% - 2vw));
  }
}

.home_marquee_reverse {
  animation: marqueeReverse 20s infinite linear;
}

@keyframes marqueeReverse {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(calc(0% + 2vw));
  }
}

/* pre-wedding shoot */
.gallery-item {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.gallery-item:hover {
  transform: scale(1.03);
}

/* Loader ANimation */
/* Loader container */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

/* Loader text */
.loader-text {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Spinner animation */
.loader-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #4e2525;
  border-top: 5px solid #ff6f61;
  /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}